bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.env
.DS_Store
.vscode/settings.json
.idea/.idea.wheredidmytimego/.idea/.name
.idea/.idea.wheredidmytimego/.idea/indexLayout.xml
.idea/.idea.wheredidmytimego/.idea/projectSettingsUpdater.xml
.idea/.idea.wheredidmytimego/.idea/vcs.xml
.idea/.idea.wheredidmytimego/.idea/workspace.xml
