.grid {
  flex-grow: 1;
  display: grid;
  grid-template: repeat(4, minmax(0, 1fr)) / repeat(6, minmax(0, 1fr));
  gap: 1rem;
  min-width: 0;
  min-height: 0;

  & > div:not(.timeFrameStart, .timeFrameStop) {
    background-color: white;
    padding: var(--mantine-spacing-md);
    border: rem(1px) solid
      light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    border-radius: var(--mantine-radius-md);
  }
}

.timeFrameActive {
  grid-row: 1;
  grid-column: 1 / span 6;

  @media (min-width: $mantine-breakpoint-xs) {
    grid-column: 1 / span 2;
  }
  @media (min-width: $mantine-breakpoint-lg) {
  }
}

.timeFrameStart {
  grid-column: 1 / span 3;
  grid-row: 2;

  @media (min-width: $mantine-breakpoint-xs) {
    grid-row: 1;
    grid-column: 3 / span 2;
  }
  @media (min-width: $mantine-breakpoint-lg) {
    grid-row: 1;
    grid-column: 3;
  }
}

.timeFrameStop {
  grid-column: 4 / span 3;
  grid-row: 2;
  @media (min-width: $mantine-breakpoint-xs) {
    grid-row: 1;
    grid-column: 5 / span 2;
  }
  @media (min-width: $mantine-breakpoint-lg) {
    grid-row: 1;
    grid-column: 4;
  }
}

.timeFrameControls {
  display: flex;
  grid-column: 4 / span 3;
  grid-row: 2;
  @media (min-width: $mantine-breakpoint-xs) {
    grid-row: 1;
    grid-column: 5 / span 2;
  }
  @media (min-width: $mantine-breakpoint-lg) {
    grid-row: 1;
    grid-column: 5 / span 2;
  }
}

.timeFrameList {
  grid-column: 1 / span 6;
  grid-row: 3 / span 2;
  overflow-y: scroll;

  @media (min-width: $mantine-breakpoint-xs) {
    grid-row: 2 / span 3;
  }
  @media (min-width: $mantine-breakpoint-lg) {
  }
}
