.grid {
  display: grid;
  height: 100%;
  gap: 1rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    'projectName . . . . .'
    'timeFrameList timeFrameList timeFrameList . . .'
    'timeFrameList timeFrameList timeFrameList . . .'
    'timeFrameList timeFrameList timeFrameList . . .';
}

.grid > div {
  padding: var(--mantine-spacing-md);
  border: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  border-radius: var(--mantine-radius-md);
}

.itemOne {
  grid-area: projectName;
}

.itemTwo {
  grid-area: timeFrameList;
}
